.form-section {
    background-color: $color-grey-light-1;
    padding: 3rem 0 10rem 0;
    display: block;
    text-align: center;
    
    @include respond(tablet-portrait){
        padding: 5rem 0;
    }
}