
/* =============
    Contact Form
   ============= */


.form {
    border: 1px solid $color-grey-dark;
    padding: 1rem;
    display: inline-block;
    color: $color-grey-dark;
    font-size: $default-font-size;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

input[type=submit], input[type=radio] {
    background-color: $color-white;
    font-size: $default-font-size;
    color: $color-grey-dark;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text],input[type=email],input[type=number], input[type=phone], select, textarea,
.radios
{
    font-size: $default-font-size;
    width: 100%; /* Full width */
    padding: 1.2rem; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 1.6rem; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    border: 1px solid $color-grey-dark;
}

input[type=submit]:hover {
    background-color: $color-grey-light-2;
}

.radios {
    background-color: $color-white;
    color: $color-grey-dark;
}

.radio-button {
    padding-right: 1.2rem;
}